<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <% if(locals.error){%>
      <div style="margin-bottom: 1rem; color: red">Incorrect Password</div>
      <% } %>
      <form
         style="
            background-color: aliceblue;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
         "
         method="post"
      >
         <label for="password">Password</label>
         <input type="password" id="password" name="password" placeholder="Enter password to download" required />
         <button type="submit">Download</button>
      </form>
   </body>
</html>
